/**
 * UI Elements
 */

.mup-field-label {
	font-size: 14px;
	font-weight: 600;
	color: #222;
	padding: 2px 10px 5px 0;
}

.mup-field-progress progress {
    background-color: #000000;  
    border: 0;  
    height: 34px;  
    width: 100%;
}

.mup-field-progress progress::-webkit-progress-bar {  
    background-color: #f2f3f2;
}  
.mup-field-progress progress::-webkit-progress-value {  
    background-color: #000000;  
}  
progress::-moz-progress-bar {  
    background-color: #000000;  
}  

.button.button-musicpress {
	display: inline;
	background: #000000;
	border-color: #181818;
	color: #fff;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(51,51,51,.5),0 1px 0 rgba(0,0,0,.15);
	float: right;
}
.button.button-musicpress:hover {
	background: #181818;
	border-color: #181818;
	color: #fff;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.5),0 1px 0 rgba(0,0,0,.15);
}

.test-box .spinner {
	margin-top: inherit;
}

/**
 * Message handling
 */
.test-email-success, .send-email-success, .send-email-error, .test-email-error, .mup-notify {
	background-color: #000000;
	padding: 2px 10px;
	display: none;
	color: #ffffff;
	margin-bottom: 10px;
	height: auto;
}

.test-email-success .message, .test-email-error .message {
	color: #ffffff;
}

.mup-field:first-child {
	border-top:none;
}
.mup-field {
	padding: 0px 15px 15px 15px;
	border-top: #e8e8e8 solid 1px;
	margin: 0px -12px;
}
.mup-field.half-width {
	width: 49.3%;
	float: left;
	overflow: visible;
}
.mup-field.half-width:last-child {
	float: left;
}
@media screen and (max-width:1192px) {
	.mup-field.half-width {
		width: 48.75%;
	}
}
@media screen and (max-width:768px) {
	.mup-field.half-width {
		width: 100%;
	}
}
p.mup-admin-label label {
	font-size: 12px;
	line-height: 1.5em;
	margin: 0 0 1em;
	padding: 0;
	color: #666666;
}
p.mup-admin-label label {
	color: #333333;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px;
    display: block;
    vertical-align: text-bottom;
}
.mup-field input {
	height: 34px;
}
.mup-field-text {
	height: 34px;
	margin-left: 0px;
}
.mup-field textarea {
	width: 100% !important;
	height: 100px;
}

/**
 * WordPress admin specifics
 */
.about-wrap .wp-badge {
	background-image: url('../img/musicpress-admin-logo.png');
} 
.about-wrap div.error, .about-wrap div.updated {
	display: block !important;
	margin-top: 20px;
	margin-bottom: -10px;
}
.about-wrap .inside textarea {
	margin-top: 10px;
}
input.large-text, textarea.large-text {
	width: 100%;
}
.about-wrap .headline-feature .feature-section {
	/*margin-top: 50px;*/
}

.about-wrap .headline-feature .feature-section .col:first-child {
	width: 40%;
}

.about-wrap .headline-feature .feature-section .col:last-child {
	width: 55%;
}

.about-wrap .headline-feature .feature-section .col .image {
	text-align: right;
	width: inherit;
	height: auto;
	vertical-align: middle;
}

.placeimage {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.about-wrap .about-text {
	margin-bottom: 2em;
}
.wp-badge {
	background-color: #000;
	border: 8px solid #fff;
}
.headline-feature h2.mup {
	text-align: left;
}
.headline-feature .feature-section {
	max-width: 100% !important;
}
.inside ul .sub-title {
	padding-bottom: 10px !important;
	font-weight: bold;
}